[Unit]
Description = KloPi Music Watcher

[Service]
Type=exec
User=klopi_sound
ExecStart=/opt/klopi/watch_music_folder.py /home/klopi_sound/music

[Install]
WantedBy=default.target
